.navContainer{
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 65%;
    background-color: white;
    z-index: 100;
    border-radius: 60px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

}

.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    height: 100%;
}

.brand{
    display: flex;
    align-items: center;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #111111;
    margin: 0;
    margin-right: 60px;
}

.searchContainer{
    width: 70%;
    max-width: 400px;
}

.searchInput{
    width: 70%;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.2s ease;
    
}

.searchInput:focus {
    border-color: #111111;
}

.addBtn {
  background-color: #111111;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.addBtn:hover {
  background-color: #333333;
}


.logo{
    height: 10vh;
    border-radius: 5px;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    .content{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .navContainer{
        height: 110px;
    }
    
}